.benefits {
  display: flex;
  flex-direction: column;
  gap: 90px;

  &__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 286px;
    padding: 15px;

    &:hover {
      border-radius: 15px;
      box-shadow:
        0 4px 10px rgba(42, 169, 171, 0.6),
        0 8px 25px rgba(112, 238, 238, 0.4);
    }
  }

  &__title {
    @extend %h4;

    min-height: 48px;
    margin-top: 30px;
  }

  &__desc {
    @extend %secondary-text;

    min-height: 120px;
    margin-top: 30px;
  }

  &__icon {
    width: 70px;
    height: 50px;
    object-fit: contain;
  }
}
