.page {
  width: 100vw;
  background-color: $c-white;

  &--no-scroll {
    overflow: hidden;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 170px;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 30px 123px;

    @include tablet {
      gap: 140px;
      width: 100%;
      padding: 30px 34px;
    }

    @include mobile {
      gap: 110px;
      padding: 25px 30px;
    }
  }
}
