.swipper-nav {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__next,
  &__prev {
    cursor: pointer;

    width: 48px;
    height: 13px;
    border: none;

    background-color: #d6ecec;
  }

  &__prev {
    background-image: url('../images/icons/prev.png');
  }
  &__next {
    background-image: url('../images/icons/next.png');
  }

  &__pages {
    display: flex;
    gap: 5px;
  }

  &__current-page {
    @extend %main-text;
  }

  &__total-page {
    position: relative;
    top: 10px;
    font-size: 11px;
    color: #0c797a;
  }
}
